<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Message</title>	
	</head>
	<body>
		<h1>MESSAGE</h1>

		<form action="#" th:action="@{/message}" th:object="${newMessage}" method="POST">
			<p>Author:</p>
			<input type="text" th:field="*{author}">
			<p>Message:</p>
			<input type="text" th:field="*{message}">
			</p>
			<input type="submit" value="Save">
		</form>

		<div th:each="message:${messageList}">
			<p th:text="${message.author}"></p>
			<p th:text="${message.message}"></p>
		</div>
	</body>
</html>